.CartLoader {
  width: 100%;
  height: 250;
  background-color: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/*  */
.loader {
  display: inline-block;
  font-size: 78px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  left: 55px;
  bottom: 32;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  border-bottom-color: #ff3d00;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*loadding */

.loading {
  margin-top: 20px;
  background-color: #f3f5f7;
  height: 300px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .CartLoader {
    height: 200px;
  }
  .loader {
    display: inline-block;
    font-size: 65;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
  }
  .loader::before {
    content: "";
    position: absolute;
    left: 47px;
    bottom: 22;
    width: 40px;
    height: 40px;
  }
}
