.contact_orderSummary {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 50px;
}

.contact {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.orderSummary {
  width: 33%;
}

/* Responsive */

@media (max-width: 750px) {
  .contact_orderSummary {
    flex-direction: column;
    gap: 1rem;
  }
  .orderSummary,
  .contact {
    width: 100%;
  }
}
