/* .orderSummary {
  border-radius: 6px;
  padding: 16px 24px 16px 14px;
  border: 1px solid #6c7275;
} */
.orderContainer {
  border-radius: 6px;
  padding: 16px 24px 16px 14px;
  border: 1px solid #6c7275;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.orderProduct {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  position: relative;
  margin-bottom: 15px;
}

.orderContainer h2 {
  font-size: 28px;
  font-weight: 500;
  color: #121212;
}

/* order products */

.orderProduct::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -25px;
  background-color: #6c727569;
}

.image_title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.image_title .productImage {
  width: 80px;
  height: 90px;
  background-color: #f3f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_title .productImage img {
  /* width: 80px;
  height: 90px; */
  width: 100%;
  object-fit: cover;
}
.title_quantity {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.title_quantity h3 {
  font-size: 14px;
  font-weight: 600;
  color: #141718;
}
.title_quantity p {
  font-size: 12px;
  font-weight: 400;
  color: #6c7275;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  border: 1px solid #6c7275;
  padding: 6px 10px;
  cursor: pointer;
  color: #121212;
  font-size: 12px;
}
.price_remove {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.price_remove h3 {
  color: #6c7275;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.price_remove h2 {
  font-size: 14px;
  font-weight: 600;
  color: #121212;
}
/* input */

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.input input {
  width: 78%;
  border: 1px solid #cbcbcb;
  padding: 15px 16px;
  border-radius: 6px;
}
.input input:focus {
  outline: 1px solid #cbcbcb;
}
.input input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #605f5f;
}

.input button {
  padding: 12px 26px 12px 26px;
  background-color: #141718;
  border-radius: 8px;
  width: 20%;
  color: #ffffff;
  cursor: pointer;
}

.total ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.total ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.total ul li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.8px;
  bottom: -12px;
  background-color: #6c727541;
}
.total ul li:last-child::before {
  height: 0px;
}
.total ul li h2 {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: #141718;
  font-size: 16px;
  font-weight: 400;
}

.total ul li h2 span {
  font-size: 22px;
}
.total ul li h4 {
  font-size: 16px;
  font-weight: 600;
  color: #38cb89;
}
.total ul li h3 {
  font-size: 16px;
  font-weight: 600;
  color: #141718;
}
.total ul li h1 {
  font-size: 20px;
  font-weight: 500;
  color: #141718;
}

/* place order */
.placeOrder {
  padding: 12px 40px 12px 40px;
  background-color: #141718;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 10px;
  color: #ffffff;
  width: 100%;
}

@media (max-width: 750px) {
  .price_remove h3 {
    display: inline;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  .input input {
    width: 71%;
    padding: 12px 12px;
    border-radius: 4px;
  }

  .input button {
    padding: 10px 24px 10px 24px;
    width: 26%;
  }

  .placeOrder {
    display: flex;
  }
}
