.AccountDetailsPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.AccountDetailsPassword h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.AccountDetailsPassword div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.AccountDetailsPassword div label {
  color: #6c7275;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.AccountDetailsPassword div input {
  padding: 16px 16px;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
}

.AccountDetailsPassword div input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #6c7275;
}

.AccountDetailsPassword div input:focus {
  outline: 1px solid #cbcbcb;
}
