.saveChanges button {
  background-color: #141718;
  padding: 12px 40px 12px 40px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .saveChanges button {
    width: 100%;
  }
}
