.WriteReviews {
  margin-top: 50px;
  margin-bottom: 500px;
}

/* linkReview */
.linkReview {
  position: relative;
}
.linkReview ul {
  display: flex;
  align-items: center;
  gap: 80px;
}

.linkReview ul li {
  color: #807e7e;
  font-size: 18px;
  font-weight: 500;
}
.linkReview ul .active {
  color: #121212;
  position: relative;
}
.linkReview ul .active::after {
  position: absolute;
  content: "";
  background-color: #121212;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -10px;
  z-index: 55;
}
.linkReview::after {
  position: absolute;
  content: "";
  background-color: #e8ecef;
  width: 100%;
  height: 1px;
  bottom: -10px;
}

/* textReview */

.textReview {
  margin-top: 40px;
}

.textReview h2 {
  font-size: 28px;
  font-weight: 500;
  color: #23262f;
}

.stars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.stars p {
  color: #141718;
  font-size: 12px;
  font-weight: 400;
}
.stars ul {
  display: flex;
  align-items: center;
  font-size: 12px;
}

/* input */

.input {
  width: 100%;
  position: relative;
  margin-top: 15px;
}

.input input {
  width: 100%;
  border: 2px solid #e8ecef;
  padding: 16px 16px 16px 24px;
  border-radius: 16px;
}
.input input:focus {
  outline: 2px solid #e8ecef;
}
.input button {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #141718;
  padding: 6px 40px 6px 40px;
  border-radius: 80px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

/* review */

.review {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.review h2 {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}

.review select {
  padding: 8px;
  border: 2px solid #e8ecef;
}

/* select */

.selectOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  padding: 8px 10px;
  border: 1px solid #e8ecef;
  cursor: pointer;
}

/* comment */

.comment {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  position: relative;
}
.comment::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -20px;
  background-color: #e8ecef;
}
.comment h3 {
  font-size: 19;
  font-weight: 600;
  color: #141718;
  margin-bottom: 10px;
}
.comment p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #353945;
  margin-top: 10px;
}
