.articles {
  margin-top: 50px;
}

.textTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textTop h2 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  font-family: "Poppins", sans-serif;
}
.textTop a {
  font-size: 16px;
  color: #141718;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.1875rem;
  position: relative;
  transition: 0.2s;
}

.textTop a::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #141718;
  bottom: 0;
}

.textTop a svg {
  margin-top: 2px;
  font-size: 17px;
  transition: 0.2s;
}
.textTop a:hover svg {
  position: relative;
  left: 5px;
}
.textTop a:hover {
  color: blue;
}

.articlesBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 32%;
}
.box img {
  object-fit: cover;
  width: 100%;
  height: 20.3125rem;
}

.box h2 {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #23262f;
}

.box a {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #141718;
  transition: 0.2s;
  position: relative;
}
.box a::before {
  position: absolute;
  content: "";
  bottom: -2px;
  height: 1px;
  width: 25%;
  background-color: #141718;
}
.box a svg {
  margin-top: 3px;
}
.box a:hover {
  color: blue;
}
.box a:hover svg {
  position: relative;
  left: 4px;
  color: blue;
}

/*Responsive  */

@media (max-width: 950px) {
  .box {
    width: 49%;
    margin-top: 25px;
  }
}
@media (max-width: 750px) {
  .textTop h2 {
    font-size: 33px;
  }
  .box {
    width: 100%;
  }
}
