.categories {
  margin-top: 20px;
  width: 100%;
  padding: 0;
}

.CategorieContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SmRoom,
.largRoom {
  width: 49%;
  min-height: 664px;
  overflow: hidden;
}

.largImage {
  background-color: #f3f5f7;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 664px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.living {
  position: absolute;
  top: 10%;
  left: 10%;
}

.living h3 {
  font-size: 34px;
  font-weight: 500;
  color: #141718;
  cursor: pointer;
}

.living a {
  text-decoration: underline;
  color: #141718;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  transition: 0.3s;
}
.living a svg {
  margin-top: 5px;
  transition: 0.3s;
}
.living a:hover {
  color: blue;
}
.living a:hover svg {
  margin-left: 5px;
  color: blue;
}

/*  */

.SmRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3125rem;
}

.smImage {
  background-color: #f3f5f7;
  height: 319px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.smImage img {
  /* width: 548px;
  height: 319px;
  object-fit: contain; */
  width: 70%;
}

.smLiving {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.smLiving h3 {
  font-size: 34px;
  font-weight: 500;
  color: #141718;
  cursor: pointer;
}

.smLiving a {
  text-decoration: underline;
  color: #141718;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  transition: 0.3s;
}
.smLiving a svg {
  margin-top: 5px;
  transition: 0.3s;
}
.smLiving a:hover {
  color: blue;
}
.smLiving a:hover svg {
  margin-left: 5px;
  color: blue;
}

/* Responsive */

@media (max-width: 950px) {
  .smImage img {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .CategorieContainer {
    flex-direction: column;
    gap: 0.625rem;
  }

  .SmRoom,
  .largRoom {
    width: 100%;
  }

  .smImage img {
    width: 100%;
    height: 319px;
    object-fit: contain;
  }

  .smLiving {
    position: absolute;
    bottom: 8%;
    left: 4%;
  }

  .smLiving h3 {
    font-size: 25px;
  }
}
