.categories {
  margin-top: 20px;
  width: 100%;
  padding: 0;
}

.CategorieContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.largRoom {
  width: 49%;
  height: 664px;
}

.largImage {
  width: 100%;
}

/*  */

.SmRoom .loader {
  width: 100%;
  height: 100%;
}
/* Responsive */

@media (max-width: 750px) {
  .CategorieContainer {
    flex-direction: column;
    gap: 20px;
  }

  .largRoom {
    width: 100%;
    height: auto;
  }
}
