.swiper {
  width: 100%;
  height: 84vh;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.swiperSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

