.newsletter {
  margin-top: 40px;
  background-color: #f2f4f6;
  width: 100%;
  overflow: hidden;
}

.newsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageRight img {
  object-fit: fill;
  width: 100%;
}
.imageLeft img {
  /* width: 20.125rem; */
  object-fit: cover;
}

.textCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
}
.textCenter h2 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #121212;
}
.textCenter p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #141718;
  font-family: "Inter", sans-serif;
}
.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  gap: 0.25rem;
  padding: 5px 0;
  border-bottom: 1px solid #6c7275;
  width: 428px;
}

.signup svg {
  font-size: 20px;
  color: #121212;
  margin-top: 2px;
}

.signup input {
  width: 100%;
}

.signup a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #6c7275;
}

.signup input:focus {
  border: none;
  outline: none;
}

@media (max-width: 950px) {
  .imageRight img {
    object-fit: fill;
    width: 80%;
  }
  .imageLeft img {
    object-fit: cover;
  }

  .textCenter h2 {
    font-size: 35px;
  }
  .textCenter p {
    font-size: 15px;
  }
  .signup {
    margin-top: 25px;
    width: 400px;
  }
  .signup a {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .newsletter {
    padding: 25px 0;
  }
  .imageLeft,
  .imageRight {
    display: none;
  }

  .textCenter h2 {
    font-size: 28px;
  }
  .textCenter p {
    font-size: 14px;
  }
  .signup {
    margin-top: 25px;
    width: 80%;
  }

  .signup a {
    font-size: 16px;
  }
}
