.TextTopAccount {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextTopAccount h1 {
  font-size: 54px;
  font-weight: 500;
  color: #000000;
}

@media (max-width: 950px) {
  .TextTopAccount h1 {
    font-size: 48px;
  }
}
@media (max-width: 750px) {
  .TextTopAccount h1 {
    font-size: 40px;
  }
}
