.containerPayment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  border: 1px solid #6c7275;
  padding: 40px 24px 40px 24px;
  border-radius: 4px;
}

.containerPayment h2 {
  font-size: 20px;
  font-weight: 500;
  color: #141718;
}

.creditCard ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.creditCard ul::before {
  position: absolute;
  content: "";
  bottom: -25px;
  width: 100%;
  height: 0.5px;
  background-color: #b1abab;
}
.creditCard ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 12px 16px 12px 16px; */
  /* border: 1px solid #6c7275; */
  /* border-radius: 4px; */
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 12px 16px;
  cursor: pointer;
}

.creditCard ul li.active {
  background-color: #f3f5f7;
}
.creditCard ul li .check {
  display: flex;
  align-items: center;
  gap: 0.575rem;
}

.creditCard ul li .check span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #141718;
  position: relative;
}

.creditCard ul li .check span::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 12px;
  width: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.creditCard ul li.active .check span::before {
  background-color: #141718;
}

.creditCard ul li .check h3 {
  font-size: 14px;
  font-weight: 400;
  color: #141718;
}
.creditCard ul li .icon svg {
  font-size: 20px;
  font-weight: 500;
  color: #141718;
}

.firstInput {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.mustInput div {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.mustInput div input,
.firstInput input {
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  padding: 10px 16px;
}

.mustInput div label,
.firstInput label {
  font-size: 12px;
  font-weight: 700;
  color: #6c7275;
  text-transform: uppercase;
}

.firstInput input ::placeholder,
.mustInput div input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #6c7275;
}
.firstInput input:focus,
.mustInput div input:focus {
  outline: 1.5px solid #cbcbcb;
}

.mustInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placeOlder {
  padding: 12px 40px 12px 40px;
  background-color: #141718;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-top: 10px;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 750px) {
  .placeOlder {
    display: none;
  }
}
