.LoadingWishtList {
  width: 100%;
  height: 250px;
  background-color: #6c72751c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

/*  */

.loader {
  display: inline-block;
  text-align: center;
  line-height: 86px;
  text-align: center;
  position: relative;
  padding: 0 45px;
  font-size: 37px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: currentColor;
  position: absolute;
  animation: load 0.7s infinite alternate ease-in-out;
  top: 0;
}
.loader:after {
  top: auto;
  bottom: 0;
}
@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0);
  }
  50% {
    height: 10px;
    width: 40px;
  }
  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%);
  }
}
