.clearCart {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clearCart button {
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 8px;
  background-color: black;
  width: 50%;
  color: white;
}
