/* Inter*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Space+Grotesk */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* TailwindCss */
@import "tailwindcss";

/* google fonts */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 93%;
  margin: auto;
}

@media (max-width: 750px) {
  .container {
    width: 96%;
  }
}

:root {
  --font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

/* none cursor Swiper pagination  */
.swiper-pagination-clickable {
  display: none;
}
button,
a,
p,
label {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
