.orderComplete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.orederCompleteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  /* box-shadow: 0px 32px 48px -48px hsba(0, 0%, 7%, 0.1); */
  box-shadow: 0px 32px 40px 20px #1212121a;
  padding: 80px 95px 80px 95px;
  border-radius: 8px;
  width: 50%;
  background-color: #ffffff;
}

.textTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.textTop h3 {
  font-size: 28px;
  font-weight: 500;
  color: #6c7275;
}
.textTop h2 {
  font-size: 40px;
  font-weight: 500;
  color: #23262f;
}

.orderProduct {
  display: flex;
  align-items: center;
  gap: 40px;
}

.imgOrder {
  width: 80px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f5f7;
  position: relative;
}

.imgOrder img {
  width: 100%;
}

.imgOrder span {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #141718;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  color: #fcfcfd;
}

.date ul {
  display: flex;
  flex-direction: column;
  gap: 1.48rem;
}
.date ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.date ul li h3,
.date ul li h2 {
  font-size: 14px;
  font-weight: 600;
  color: #6c7275;
}
.date ul li h3 {
  color: #141718;
}

.purchase {
  padding: 12px 40px 12px 40px;
  background-color: #141718;
  border-radius: 80px;
  color: #ffffff;
  cursor: pointer;
}
.purchase button {
  cursor: pointer;
}

@media (max-width: 750px) {
  .orderComplete {
    margin-top: 50px;
  }
  .orederCompleteContainer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    align-items: start;
    padding: 16px;
  }
  .textTop {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
  .textTop h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .textTop h2 {
    font-size: 34px;
    font-weight: 500;
  }
  .orderProduct {
    gap: 20px;
  }
  .date {
    width: 100%;
  }

  .date ul li {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }
  .date ul li::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6c72756c;
    bottom: -10px;
  }
  .purchase {
    width: 100%;
    text-align: center;
  }
}
