.accountSideBar {
  background-color: #f3f5f7;
  padding: 40px 16px 40px 16px;
  border-radius: 8px;
}

.containerAccountSideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.imageProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6;
}

.imgUser {
  width: 80px;
  height: 80px;
  position: relative;
}

.imgUser img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.camera {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #141718;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.camera svg {
  color: #fefefe;
}

.imageProfile h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.linksAccount ul {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}

.linksAccount ul li {
  font-size: 16px;
  font-weight: 600;
  color: #6c7275;
  position: relative;
}
.linksAccount ul li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.8px;
  bottom: -8px;
  border-radius: 4px;
}
.linksAccount ul li.active::before {
  background-color: #141718b8;
}
.linksAccount ul li.active {
  color: #141718;
}

/* select option */

.select {
  border: 2px solid #6c7275;
  padding: 8px 8px 8px 16px;
  border-radius: 8px;
  /* appearance: none; */
  background-color: #ffffff;
  display: none;
}
.select:focus {
  border: 2px solid #6c7275;
}

.select option {
  font-size: 16px;
  font-weight: 600;
  color: #141718;
}

@media (max-width: 750px) {
  .select {
    display: flex;
  }
  .linksAccount {
    display: none;
  }
}
