.flayout {
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 0; */
  left: 100%;
  height: 100vh;
  width: 100%;
  background-color: #00000052;
  z-index: 10000;
  transition: 0.5s;
  transition-duration: 0.8s;
  overflow: hidden;
  
}
.flayout.active {
  left: 0;
}

.flayContainer {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 30%;
  background-color: #ffffff;
  padding: 40px 24px 40px 24px;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.8s;
  transition-duration: 0.5s;
  overflow-x: hidden;
}

@media (max-width: 950px) {
  .flayContainer {
    width: 50%;
  }
}
@media (max-width: 750px) {
  .flayContainer {
    width: 95%;
  }
}

/* products */

.close {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 28px;
  font-weight: 500;
  color: #121212;
}

.close svg {
  font-size: 25px;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 20px;
  height: 50vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.items::-webkit-scrollbar {
  display: none;
}
.item {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8ecef;
  bottom: -13px;
}

.images {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  width: 80px;
  height: 96px;
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;
  object-fit: cover;
}

.itemTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemTitle h3 {
  font-size: 14px;
  font-weight: 600;
  color: #141718;
}

.itemTitle p {
  font-size: 12px;
  font-weight: 400;
  color: #6c7275;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border: 1px solid #6c7275;
  border-radius: 4px;
  padding: 4px 8px;
  width: 82px;
  overflow: hidden;
}

.quantity button {
  cursor: pointer;
}
.removeItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.removeItem h3 {
  font-size: 14px;
  font-weight: 600;
  color: #121212;
}
.removeItem svg {
  font-size: 22px;
  color: #6c7275;
  cursor: pointer;
}

.checkout {
  height: 23vh;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subtotal li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout .subtotal li h2 {
  font-size: 16px;
  font-weight: 400;
  color: #141718;
}

.checkout .subtotal .total {
  font-size: 20px;
  font-weight: 500;
  color: #141718;
}
.checkout .subtotal .price {
  font-size: 18px;
  font-weight: 500;
  color: #141718;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.buttonCheckout {
  padding: 10px 26px;
  border-radius: 6px;
  background-color: #141718;
  color: #ffffff;
  cursor: pointer;
}
.buttons a {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  text-decoration: underline;
}

/* noProducts */

.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
