.offerLoading {
  background-color: #f3f5f7;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: block;
  margin: 3px auto;
  position: relative;
  color: #3d3c3c;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}
