:root {
  --font-family: "Inter", sans-serif;
}

.offer {
  background-color: #f3f5f7;
  padding: 10px 15px;
}

.offerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.limited_Time {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.limited_Time svg {
  font-size: 20px;
}
.limited_Time h2 {
  font-size: 13px;
  font-weight: 600;
  font-family: var(--font-family);
}

.limited_Time a {
  color: #377dff;
  font-size: 13px;
  font-family: var(--font-family);
  font-family: 500;
  text-decoration: underline;
}

.closeOffer {
  color: #121212;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 950px) {
  .offer {
    padding: 7px 12px;
  }
  .noneMedia {
    display: none;
  }
  .limited_Time svg {
    font-size: 17px;
  }
  .limited_Time h2 {
    font-size: 11px;
  }
  .limited_Time a {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .offerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
