.featureSection {
  margin-top: 50px;
}
.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  gap: 0.625rem;
}

.section_box {
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 48px 32px 48px 32px;
  width: 20%;
}
.section_box svg {
  font-size: 45px;
  margin-bottom: 5px;
}
.section_box h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #141718;
  margin-bottom: 5px;
}

.section_box p {
  color: #6c7275;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 950px) {
  .section_box {
    width: 48%;
  }
}
@media (max-width: 750px) {
  .section_box {
    width: 95%;
  }
}
