.productData {
  margin-top: 15px;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.title,
.images {
  width: 48%;
}

@media (max-width: 750px) {
  .dataContainer {
    flex-direction: column;
    gap: 24px;
  }
  .title,
  .images {
    width: 100%;
  }
}

/* Image */

.images {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  /* background-color: #f3f5f7; */
}
