.ContactUs {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text_top h1 {
  font-size: 54px;
  line-height: 58px;
  font-weight: 500;
  color: #141718;
  width: 50%;
}

.text_top p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6c7275;
  width: 45%;
}

.containerContact {
  display: flex;
  align-items: center;
  height: 413px;
  height: 412px;
}
.textSection,
.imagesSection {
  width: 50%;
  height: 413px;
}
.imagesSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textSection {
  height: 100%;
  background-color: #f3f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding: 72px;
}

.textSection h2 {
  font-size: 40px;
  font-weight: 500;
  color: #121212;
}

.textSection p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #121212;
  width: 60%;
}

@media (max-width: 750px) {
  .text_top h1 {
    font-size: 28px;
    line-height: 34px;
    width: 100%;
  }
  .text_top p {
    width: 100%;
  }
  .containerContact {
    flex-direction: column;
    height: auto;
  }
  .textSection,
  .imagesSection {
    width: 100%;
    height: 413px;
  }

  .textSection p {
    width: 100%;
  }
  .textSection {
    padding: 72px 20px;
  }
}
