.cartSummary {
  width: 30%;
  border: 1px solid #6c7275;
  max-height: 476px;
  border-radius: 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cartSummary h2 {
  font-size: 20px;
  font-weight: 500;
  color: #141718;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.cartList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 12px 15px;
  border: 1px solid #6c7275;
  border-radius: 4px;
  color: #141718;
  cursor: pointer;
}
.cartList li.active {
  background-color: #f3f5f7;
}

.cartIcon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cartIcon span {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid #6c7275;
  position: relative;
}

.cartList li.active .cartIcon span::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #121212;
  border-radius: 50%;
}

.cartPrice h2 {
  font-size: 15px;
  font-weight: 400;
}
.subTotal {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 10px;
}
.subTotal li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.subTotal li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5px;
  bottom: -12px;
  background-color: #6c727539;
}
.subTotal li p {
  color: #141718;
  font-size: 16px;
  font-weight: 400;
}

.subTotal li h3 {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}
.total {
  margin-top: 10px;
}
.total h2 {
  font-size: 18px;
  font-weight: 500;
  color: #141718;
}

.cartSummary button {
  padding: 10px 26px 10px 26px;
  border-radius: 8px;
  border: 8px;
  background-color: #141718;
  margin-top: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 950px) {
  .cartSummary {
    width: 38%;
  }
}

@media (max-width: 750px) {
  .cartSummary {
    width: 100%;
  }
}
