.heroShop {
  height: auto;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.heroContainer img {
  min-width: 100%;
  max-height: 392px;
  object-fit: cover;
}

.textHero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}
.path svg {
  color: #605f5f;
}
.path a {
  color: #605f5f;
  font-size: 14px;
  font-weight: 500;
}

.path a.activeHome {
  color: #121212;
}

.textHero h1 {
  font-size: 54px;
  font-weight: 500;
  color: #000000;
}

.textHero p {
  font-size: 20px;
  font-weight: 300;
  color: #121212;
}

@media (max-width: 750px) {
  .textHero h1 {
    font-size: 40px;
  }

  .textHero p {
    font-size: 18px;
  }
}
