.ContainerTitle {
  width: 508px;
}

@media (max-width: 750px) {
  .ContainerTitle {
    width: 100%;
  }
}

/* rev_desc_title_price */
.rev_desc_title_price {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
.rev_desc_title_price::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8ecef;
  bottom: -20px;
}
.review {
  display: flex;
  align-items: center;
  gap: 6px;
}

.star {
  display: flex;
  align-items: center;
}

.review svg {
  color: #343839;
  font-size: 16px;
}

.review span {
  color: #141718;
  font-size: 12px;
  font-weight: 400;
}

/* Title */

.Title {
  color: #141718;
  font-size: 40px;
  font-weight: 500;
}

/* desc */

.desc {
  font-size: 16px;
  font-weight: 400;
  color: #6c7275;
}

/* price */

.price {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price h2 {
  font-size: 28px;
  font-weight: 500;
  color: #121212;
}

.price h3 {
  font-size: 20px;
  font-weight: 500;
  color: #6c7275;
  text-decoration: line-through;
}

/* offerExpiers */

.offerExpiers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}
.offerExpiers::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8ecef;
  bottom: -20px;
}
.offerExpiers h2 {
  font-size: 16px;
  font-weight: 400;
  color: #343839;
}

/* offerBox */

.offerBox {
  display: flex;
  align-items: center;
  gap: 16px;
}
.box {
  text-align: center;
}
.box h2 {
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f7;
  font-size: 34px;
  font-weight: 500;
  color: #141718;
}

.box span {
  font-size: 12px;
  font-weight: 400;
  color: #6c7275;
}

/* chooseColor */
.chooseColor_Measurements {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Measurements {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Measurements h2 {
  font-size: 16px;
  font-weight: 600;
  color: #6c7275;
}

.Measurements h3 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.chooseColor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chooseTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #6c7275;
}

/* color */
.color {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

/* group_image */

.group_image {
  display: flex;
  align-items: center;
  gap: 16px;
}

.group_image .image {
  width: 70px;
  height: 71px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  cursor: pointer;
}

.group_image .image.active {
  border: 1px solid #000000;
}

/* WisthList_Cart_Quantity */

.WisthList_Cart_Quantity {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 16px;
  position: relative;
}
.WisthList_Cart_Quantity::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8ecef;
  bottom: -20px;
}

.quantity_wisthLIst {
  display: flex;
  align-items: center;
  gap: 24px;
}

.quantity {
  width: 18%;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.wisthList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 10px 40px 10px 40px;
  border: 1px solid #141718;
  border-radius: 8px;
  cursor: pointer;
}

.wisthList svg {
  font-size: 22px;
  color: #141718;
}

/* Cart */

.Cart {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 10px 40px;
  background-color: #141718;
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
}

/* sku_Category */
.sku_Category {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sku,
.catgory {
  display: flex;
  align-items: center;
}

.sku {
  gap: 98px;
}
.catgory {
  gap: 58px;
}
.sku h2,
.catgory h2 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #6c7275;
}

.sku h3,
.catgory h3 {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 400;
  color: #141718;
}

/* addWisList */

.wisthList .addWisListe {
  color: #38cb89;
}

.noDrop {
  cursor: no-drop;
}
